---
---

@import "minimal-mistakes";

.author__avatar img {
    border-radius: 20px !important;
}

.author__urls .fa-graduation-cap {
    display: none;
}

// .author__urls a[href*="scholar.google.com"] {
//     position: relative;
// }

.author__urls a[href*="scholar.google.com"]::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    background: url("/assets/icons/Google_Scholar_logo.png") no-repeat center center;
    background-size: contain;
}
