---
---

@import "minimal-mistakes";

.author__avatar img {
    border-radius: 20px !important;
}

.author__urls .fa-graduation-cap {
    display: none;
}

.author__urls a[href*="scholar.google.com"]::before {
    content: "";
    display: inline-block;
    width: 16.15px;
    height: 16.15px;
    margin-right: 0.5px;
    top: 0.2px;
    background: url("/assets/icons/Google_Scholar_logo.png") no-repeat center center;
    background-size: contain;
}

.author__urls .ai-orcid {
    display: none;
}

.author__urls a[href*="orcid.org"]::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 0.5px;
    top: 0.8px;
    background: url("/assets/icons/ORCID_iD.svg") no-repeat center center;
    background-size: contain;
}
